:root.theme-light {
  --bg-img-page: url(../images/cover-image-light.png);
  --bg-color-page: #fff1f7;
  --accent-color: #ff8dcb;
  --header-title-color: #ffc2e6;
  --title-color: #353430;
  --title-decor-color: var(--title-color, #353430);
  --decor-color: var(--title-color, #353430);
  --text-color: var(--title-color, #353430);
}

:root.theme-light .header__lamp {
  display: none;
}

:root.theme-light .header__theme-menu-button:hover {
  border: 1px solid rgb(53, 52, 48, .4);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-img-page: url(../images/cover-image-light.png);
    --bg-color-page: #fff1f7;
    --accent-color: #ff8dcb;
    --header-title-color: #ffc2e6;
    --title-color: #353430;
    --title-decor-color: var(--title-color, #353430);
    --decor-color: var(--title-color, #353430);
    --text-color: var(--title-color, #353430);
  }

  .header__lamp {
    display: none;
  }

  .header__theme-menu-button:hover {
  border: 1px solid rgb(53, 52, 48, .4);
  }
}
