.page {
  background-image: var(--bg-img-page);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color-page);
}

.text {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  color: var(--text-color);
  line-height: 23.4px;
}

.title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  color: var(--title-color);
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
}

.title-decor_weight_normal {
  font-weight: var(--font-weight-normal);
}

.decorated-zone {
  position: relative;
}

.decorated-zone:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--decor-color);
  border-inline-end: 1px solid var(--decor-color);
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-zone:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--decor-color);
  border-inline-start: 1px solid var(--decor-color);
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header {
  block-size: max(100vb, 668px);
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  margin-block-end: var(--margin-btw-page-blocks);
}

.header__lamp {
  position: absolute;
  inset-inline-end: 19px;
  inset-block-start: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  line-height: 25px;
  letter-spacing: 0;
}

.header__lamp:after {
  content: '';
  background-color: var(--accent-color);
  border-radius: 100%;
  inline-size: 10px;
  block-size: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  grid-row: 1 / 2;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}

.header__theme-menu-button {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  line-height: 18px;
  color: var(--decor-color);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  inline-size: 70px;
  block-size: 26px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid rgb(255, 0, 112, .4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-color);
  pointer-events: none;
}

.header__title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--header-title-size);
  line-height: 82.5%;
  letter-spacing: 0;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-row: 2 / 3;
}

.header__text {
  grid-row: 3 / 4;
  align-self: center;
}

.main {
  margin-block-end: var(--margin-btw-page-blocks);
}

.content-section {
  padding: 0 10px;
  display: grid;
  gap: 20px;
  margin-block-end: var(--margin-btw-sections);
}

.content-section__cards-item:not(:last-child) {
  margin-block-end: var(--margin-btw-list-items);
}

.card__title {
  margin-block-end: 10px;
}

.card__link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.card__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery {
  padding: 0 10px;
}

.gallery__title {
  margin-block-end: 10px;
}

.gallery__container {
  display: grid;
  gap: 10px;
}

.gallery__image {
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  block-size: max(100vb, 668px);
  display: grid;
}

.footer__title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  font-size: var(--header-title-size);
  line-height: 82.5%;
  letter-spacing: 0;
  color: var(--header-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  align-self: center;
  justify-self: center;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    block-size: max(100vb, 1024px);
  }

  .decorated-zone:before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone:after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header__lamp {
    inset-inline-end: 29px;
    inset-block-start: 20px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
  }

  .header__title {
    grid-column: 1 / 3;
    position: relative;
    inset-inline-start: -20px;
  }

  .header__text {
    grid-column: 2 / 3;
  }

  .content-section {
    padding: 0 20px;
    grid-template-columns: 1fr 2fr;
  }

  .hard-to-concentrate__title {
    grid-column: 1 / 2;
  }

  .hard-to-concentrate__cards-list {
    grid-column: 2 / 3;
  }

  .decreased-concentration {
    grid-template-rows: min-content 1fr;
  }

  .decreased-concentration__title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .decreased-concentration__cards-list {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  .five-advice {
    grid-template-rows: min-content 1fr;
  }

  .five-advice__title {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  .five-advice__subtitle {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .five-advice__cards-list {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .gallery {
    padding: 0 20px;
  }

  .gallery__title {
  margin-block-end: 20px;
  }

  .gallery__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__sunset {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .gallery__ice-cream {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }

  .gallery__tape {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }

  .gallery__books {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .gallery__street {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }

  .footer {
    block-size: max(100vb, 1024px);
  }
}

@media (width >= 1024px) {
  .header {
    block-size: max(100vb, 768px);
  }

  .header__theme-menu {
    grid-column: 1 / -1;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
  }

  .content-section {
    column-gap: 10px;
  }

  .decreased-concentration__cards-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer {
    block-size: max(100vb, 768px);
  }
}
