:root {
  --bg-img-page: url(../images/cover-image-dark.png);
  --bg-color-page: #000028;
  --accent-color: #ff0070;
  --header-title-color: #db00ff;
  --title-color: var(--accent-color);
  --title-decor-color:var(--bg-color-page);
  --decor-color: var(--accent-color);
  --font-family: 'IBM Plex mono', sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size: 18px;
  --text-color: #f1b2ce;
  --header-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --margin-btw-page-blocks: 40px;
  --margin-btw-sections: 50px;
  --margin-btw-section-blocks: 20px;
  --margin-btw-list-items: 20px;
}

@media (width >= 768px) {
  :root {
    --header-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --margin-btw-page-blocks: 60px;
    --margin-btw-sections: 80px;
  }
}
